* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 80px 1.5fr 1.2fr 80px;
  grid-template-areas:
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "sidebar footer footer footer";
  gap: 0.2rem;
}
nav {
  background: #b3e5fc;
  grid-area: nav;
}
main {
  background: #81d4fa;
  grid-area: main;
}
#sidebar {
  background: #4fc3f7;
  grid-area: sidebar;
}
#content1 {
  background: #29b6f6;
  grid-area: content1;
}
#content2 {
  background: #03a9f4;
  grid-area: content2;
}
#content3 {
  background: #039be5;
  grid-area: content3;
}
footer {
  background: #0288d1;
  grid-area: footer;
}

@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "nav"
      "sidebar"
      "main"
      "content1"
      "content2"
      "content3"
      "footer";
  }
  nav {
    height: 80px;
  }
  main {
    height: 400px;
  }
  #sidebar {
    height: 200px;
  }
  #content1 {
    height: 300px;
  }
  #content2 {
    height: 300px;
  }
  #content3 {
    height: 300px;
  }
  footer {
    height: 80px;
  }
}
